*{
    margin: 0;
    padding: 0;
}
.list{
    background-color: blue;
    /* color: ; */
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;

}
.drink{
    margin: 10px;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
}
.blog{
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
}
h2{
    margin-left: 30px;
}
ol{
    margin: 15px;
    padding-left: 50px;
}
